{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link type="text/css" href="/static/assets/css/test.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>

<div class="container-fluid d-flex" style="min-height: 86vh">
    <div class="row mt-4 mb-4 d-flex justify-content-start" style="flex: 1">
         <div class="col-3">
            <div class="card border-light shadow-sm h-100">
                <div class="card-header">
                    <div class="h2 fw-normal mb-2">Study Cases</div>
                </div>
                <div class="card-body d-flex justify-content-center" style="flex: 1">
                    <div class="col-12">
                        <div class="row mb-1" style="height: 5%">
                            <div class="col-12">
                                <div class="dropdown">
                                    <div class="btn-group me-2 mb-2 w-100">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Algorithm #1</option>
                                            <!--<option value="1">Algorithm #1</option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3" style="height: 95%">
                            <div class="heat-maps col-12">
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-9">
            <div class="row" style="height: 65%">
                <div class="line-graphs col-12">
                    <svg class="h-100 w-100"></svg>
                </div>
            </div>
            <div class="row mb-4" style="height: 8%">
                <div class="col-12 h-100">
                    <div class="card border-light shadow-sm h-100">
                        <div class="highlight-points col-12">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 25%">
                <div class="col-4">
                    <div class="card border-light shadow-sm h-100">
                        <div class="card-header">
                            <div class="mb-1">
                                <div class="h2 fw-normal mb-2">Aggregated Metric</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h1 class="mt-2" style="font-size: 6em">66.33</h1>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card border-light shadow-sm h-100">
                        <div class="card-header">
                            <div class="mb-1">
                                <div class="h2 fw-normal mb-2">Metric Details</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 style="overflow-y: auto">$${\require{color}\color{black}\left( \frac{\left( 79 \cdot \color{red}\fbox{1} \color{black}\right) + \left( 62 \cdot \color{green}\fbox{1} \color{black}\right) + \left( 60 \cdot \color{blue}\fbox{1} \color{black}\right) + \left( 66 \cdot \color{orange}\fbox{1} \color{black}\right) + \left( 61 \cdot \color{purple}\fbox{1} \right) + \left( 64 \cdot \color{sienna}\fbox{1} \color{black}\right)}{ \color{red}\fbox{1} \;\quad\, \color{black}+ \;\quad\, \color{green}\fbox{1} \;\quad\, \color{black}+ \;\quad\, \color{blue}\fbox{1} \;\quad\, \color{black}+ \;\quad\, \color{orange}\fbox{1} \;\quad\, \color{black}+ \;\quad\, \color{purple}\fbox{1} \;\quad\, \color{black}+ \;\quad\, \color{sienna}\fbox{1}} \color{black}\right)}= 66.33$$</h5>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

<script type="module" src="/static/assets/js/test.js"></script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
